body {
	margin:0;
	padding:0;
	font-family:serif;
}
footer,
section{
	display:flex;
	justify-content:center;
}
.container{
	display:flex;
	width:100%;
	max-width:1350px;
}
.tributo .container{
	flex-direction:column;
	align-items:center;
	height:auto;
	background-color:#87cefa;
}
.title_and_description{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.images{
	display:flex;
	justify-content:space-around;
}
.image_tribute_1 img{
	width:400px;
	margin-top:50px;
}
.image_tribute_2 img{
	max-width:501px;
	display:block;
}
.image_tribute_3 img{
	width:300px;
	margin-top:50px;
	margin-right:50px;
	margin-left:50px;
}
.timeline .container{
	display:flex;
	flex-direction:column;
	height:auto;
	background-color:#FFF;
	color:#000;
}
.nascimento{
	display:flex;
	flex-direction:column;
	align-items:center;	
}
.nascimento p{
	font-size:13px;
	margin-left:30px;
	margin-right:30px;
}
.albuns{
	display:flex;
	justify-content:space-between;
	margin-bottom:40px;
	margin-top:30px;
}
.album_1,
.album_2{
	margin-left:30px;
	margin-right:30px;
	flex:1;
}
.album_1{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-right:20px;
	border-right:1px solid #000;
}
.album_1 p,
.album_2 p{
	font-size:12px;
}
.album_2 img,
.album_1 img{
	width:300px;
}
.album_2{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-left:20px;
	border-left:1px solid #000;
}
.rodape .container{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:auto;
	background-color:#87cefa;
}
.rodape div pre{
	font-family:URW Chancery L;
	font-size:20px; 
}
.rodape div pre a {
	text-decoration:none;
	color:#000;
}
.rodape div pre a:hover{
	color:#FFF;
}
.final{
	margin-top:-20px;
	margin-left:5px;
	margin-bottom:5px;
}
@media only screen and (min-width:1010px) and (max-width:1320px){
	.container{
		max-width:1000px;
	}
	.image_tribute_1 img{
		width:300px;
	}
	.image_tribute_2 img{
		width:401px;
	}
	.image_tribute_2{
		width:400px;
	}
	.image_tribute_3 img{
		width:200px;
	}
	.description_2{
		font-size:13px;
	}
	.album_2 img,
	.album_1 img{
		width:200px;
	}
	.nascimento p{
		font-size:11px;
	}
}	

@media only screen and (min-width:720px) and (max-width:1010px){
	.container{
		max-width:700px;
	}
	.image_tribute_1 img,
	.image_tribute_3 img{
		display:none;
	}
	.image_tribute_2 img{
		width:301px;
	}
	.image_tribute_2{
		width:300px;
	}
	.description_2{
		font-size:10px;
	}
	.album_2 img,
	.album_1 img{
		width:150px;
	}
	.album_1 h1,
	.album_2 h1{
		font-size:15px;
	}
}

@media only screen and (max-width:720px){
	.container{
		max-width:480px;
	}
	.album_1 p,
	.album_2 p,
	.album_1 strong,
	.album_2 strong,
	.description_2,
	.image_tribute_1 img,
	.image_tribute_3 img{
		display:none;
	}
	.image_tribute_2 img{
		width:200px;
	}
	.image_tribute_2{
		width:200px;
		margin-bottom:30px;
	}
	.album_1,
	.album_2{
		border:none;
	}
	.album_2 img,
	.album_1 img{
		width:150px;
	}
	.album_1 h1,
	.album_2 h1{
		font-size:11px;
	}
	.album_1{
		margin-right:0px;
	}
	.album_2{
		margin-left:0px;
	}
}